<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>For questions, checkout <a href="https://www.railstutorial.org/book/">the tutorial book</a> or
  <a href="mailto:flaviuvadan@gmail.com">email me!</a></p>